body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: serif;
}
h1 {
    line-height: 1.2;
    color: #333;
}
h2, h3 {
    line-height: 1.2;
    color: #666;
}
#output {
    border: 1px #444 solid;
    padding: 8px;
    word-wrap: break-word;
}
